body {
    background-color: rgb(194, 194, 194) !important;
}

.rows {
    padding: 4rem;
}

.cards {
    border-radius: 4rem;
    height: 120px !important;
    text-align: center !important;
}

@media (max-width: 1350px) {
    .cards {
        width: 100% !important;
        max-height: 358px;
    }
}